.cover {
  position: relative;
  z-index: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  @include media-breakpoint-only(lg) {
    @media (orientation: landscape) {
      height: 75vh;
    }
    @media (orientation: portrait) {
      height: 50vh;
    }
  }
  @include media-breakpoint-only(md) {
    height: 50vh;
  }
  @include media-breakpoint-down(sm) {
    @media (orientation: landscape) {
      height: 800px;
    }
    @media (orientation: portrait) {
      height: 500px;
    }
  }
  &--overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 300;
    background-color: rgba(0, 0, 0, .2)
  }
  &__media {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: contain;
    height: 100%;
    @include media-breakpoint-down(sm) {
      height: 75%;
      width: 200%;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    @include media-breakpoint-down(lg) {
      top: 0;
      @media (orientation: landscape) {
        height: 75vh;
      }
      @media (orientation: portrait) {
        height: 50vh;
      }
    }
    @include media-breakpoint-down(md) {
      height: 50vh;
    }
    @include media-breakpoint-down(sm) {
      @media (orientation: landscape) {
        height: 800px;
      }
      @media (orientation: portrait) {
        height: 500px;
      }
    }
    &__content {
      position: absolute;
      pointer-events: none;
      height: auto;
      width: auto;
      top: 0;
      left: 25%;
      transform: translateX(-50%);
      @include media-breakpoint-down(lg) {
        position: initial;
        left: 0;
        transform: none;
      }
      @include media-breakpoint-down(sm) {
        left: 50%;
      }
      &--logo {
        height: 100px;
        @include media-breakpoint-down(lg) {
          position: absolute;
          bottom: 10px;
          left: 10px;
          width: 38%;
          height: auto;
        }
        @include media-breakpoint-only(md) {
          width: 48%;
        }
        @include media-breakpoint-down(sm) {
          position: absolute;
          bottom: 10px;
          left: 0;
          width: 100%;
          height: auto;
        }
      }
      &--header {
        margin: 0;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 3.8rem;
        line-height: .9;
        height: 56px;
        font-size: 4rem;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      &--subtitle {
        margin: 0;
        color: white;
        font-size: 28px;
        line-height: .9;
        letter-spacing: 2px;
        font-size: 2.5rem;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      &--line {
        border: 1px solid white;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 60%;
        margin-left: 0;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
    &__arrow {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: auto;
      bottom: 5%;
      @include media-breakpoint-down(lg) {
        display: none;
      }
      &--inner {
        text-align: center;
        .nav-link {
          display: initial;
          padding: 0;
        }
        img {
          height: 100px;
        }
      }
    }
  }
}
