@include font-face('nymphette', '../fonts/Nymphette');
@include font-face('oswald', '../fonts/Oswald-Regular');
@include font-face('oswald-light', '../fonts/Oswald-Light');
@include font-face('oswald-bold', '../fonts/Oswald-Bold');
@include font-face('OpenSans', '../fonts/OpenSans-Regular');
@include font-face('OpenSans-light', '../fonts/OpenSans-Light');
@include font-face('OpenSans-bold', '../fonts/OpenSans-Bold');
body {
  font-family: "oswald";
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 16px;
  line-height: 1.3;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:visited {
    color: white;
    text-decoration: none;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "oswald-bold";
}

p {
  font-family: "OpenSans";
}

.nymphette {
  font-family: "nymphette";
}

.web-container {
  background: white;
  overflow: hidden;
}

@include media-breakpoint-up(xs) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    line-height: 1.3;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 26px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
    line-height: 1.2;
  }
}
