#parallax-beschnitt {
  width: 100%;
  height: 150vh;
  overflow: hidden;
  position: relative;
  @media (max-width: 1599px) {
    height: 125vh;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

#parallax-rahmen {
  background-color: #000;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#parallax-rahmen.versteckt {
  display: none;
}

#parallax0 {
  position: absolute;
  width: 100%;
  height: 100%;
  @media (max-width: 1024px) {
    display: none;
  }
}

#parallax1,
#parallax2,
#parallax3,
#parallax4 {
  position: absolute;
  width: 120%;
  height: 103%;
  left: 50%;
  top: 30%;
  @media (max-width: 1599px) {
    width: 180%;
    height: 110%;
  }
  @include media-breakpoint-down(lg) {
    left: 0;
    top: 0;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

#parallax1 {
  transform: translateX(-50%);
  @include media-breakpoint-down(lg) {
    transform: none;
  }
}
