.references {
  background-color: #e6e6e6;
  padding: 0;
  height: auto;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 0;
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  >.container {
    padding-bottom: 2%;
    @include media-breakpoint-down(lg) {
      padding: 0;
    }
    >.row {
      margin: 0;
    }
  }
  &--header-style {
    text-transform: uppercase;
    text-align: center;
  }
  &--line-style {
    border: 1px solid;
    width: 12%;
    margin-top: 5px;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }
  &__section {
    &--list-style {
      list-style-type: none;
      text-align: center;
      padding: 0;
      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }
    &__list-item {
      p {
        margin-bottom: 10px;
        line-height: 1;
      }
    }
  }
}
